*{
    width:100px;
    margin:100px;
    margin-top:200px;
    box-sizing: border-box;
    
}
.parent{
    margin-bottom: auto;
}
div{
    margin-bottom:200px;
    
}
img{
    margin-bottom:20px;
    margin-top:20px;
   
    position:fixed;
}
